{% extends "base.html.twig" %}

{% block title %}dossiers SQVF{% endblock %}

{% block page_title %}<h1 class="mytitle">Suivi Qualitatif des Vérifications Fiscales (S.Q.V.F.)</h1>{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
<div class="box box-primary">
    {# <div class="info-box-content">
        <span class="info-box-text">dossiers</span>
        <span class="info-box-number">{{ nbreContrib }}</span>
    </div> #}

  <div id="search">
    <form class="form-inline pull-left" method="GET">
      <div class="form-group">
          <input name="nif" type="text" class="form-control" id="nifFilter" autocomplete='off' {% if nifFilter %}value="{{ nifFilter }}"{% endif %} placeholder="NIF" style="width:110px;margin-left:0px;">
      </div>
      <div class="form-group">
          <input name="rs" type="text" class="form-control" id="rsFilter" autocomplete='off' {% if rsFilter %}value="{{ rsFilter }}"{% endif %} placeholder="Raison Sociale" style="width:450px;margin-left:0px;">
      </div>
      {# <div class="form-group">
          <select name="secteur" class="form-control">
              <option selected value="" disabled selected>{% if secteur %} {{secteur}} {% else %}Secteur d'activité{% endif %}</option>
              {% for sectorAct in sectorActs %}
                  <option value = {{ sectorAct.id}} > {{sectorAct.sectorActDesc}}</option>
              {% endfor %}
          </select>
      </div> #}
      {# <div class="form-group">
        <select name="gestionnaire" class="form-control" id="gestionnaire"> 
            <option selected value="" disabled selected >gestionnaire</option>
            {% for user in usersService %}
                <option value = {{ user.id }}>
                    <i>{{ user.corps }} -</i> 
                    <h6>{{ user.nom }}{{ user.prenom }}</h6>
                </option>
            {% endfor %}
        </select>
      </div> #}
      <button type="submit" class="btn-link"><span class="fa fa-search" style="font-size:28px" title="Rechercher"></span></button>						
      <a href="{{ path('dossiers') }}" class="btn-link"><span class="fa fa-trash-o" style="font-size:28px;color:black" title="initialiser filtres"> </span></a>
      <a>  </a>
      <a href="{{path('sqvf_dossiers_excel')}}" class="btn-link"><span class="fa fa-file-excel" style="font-size:28px;color:green" title="Exporter vers EXCEL"></span></a>
    </form>
  </div>
  <div class="col-lg-12">
    <div class="navigation">
      {{ knp_pagination_render(dossiers) }}
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="form-entete" style="width:100px">Réf. dossier</th>	
        <th class="form-entete" style="width:120px;text-align:center">NIF</th>	
        <th class="form-entete">Raison sociale</th>	
        {# <th class="form-entete">Adresse</th>
        <th class="form-entete">Type Notification</th>
        <th class="form-entete">Notification redressement</th> #}
        {# <th class="form-entete">Notification définitive</th> #}
        <th class="form-entete" style="text-align:center">Type contrôle</th>
        <th class="form-entete">Etape courante</th>
        {# <th>uniqid</th> #}	
        {# <th class="form-entete">date début opération</th>	 #}
        <th class="form-entete" style="text-align:center">Date de création</th>	
        {# <th class="form-entete">date début intervention</th>
        <th class="form-entete">date fin intervention</th>
        <th>archive</th>	
        <th>newUniqid</th>	
        <th>createTime</th>	
        <th>updateTime</th> #}
        <th class="form-entete" style="text-align:right">Montant principal</th>	
        <th class="form-entete" style="text-align:right">Montant amende</th>
        <th class="form-entete" style="text-align:right">Montant total</th>
        <th class="form-entete">Details</th>
      </tr>
    </thead>
    <tbody>
      {% for dossier in dossiers %}																								
        <tr>
          <td style="width:100px;text-align:center">{{ dossier.uniqid }}</td>
          <td style="width:120px;text-align:right">{{ dossier.nif|number_format(0,',',' ') }}</td>
          <td>{{ dossier.rs }}</td>
          {# <td>{{ dossier.adresse }}</td>
          <td>{{ dossier.typeNotification }}</td>
          <td>{{ dossier.notificationRedressement }}</td> #}
          {# <td>{{ dossier.notificationDefinitive }}</td> #}
          <td style="text-align:center">{{ dossier.typeControle }}</td>
          <td>{{ dossier.etapeCourante }}</td>
          {# <td>{{ dossier.uniqid }}</td>
          <td style="text-align:center;width:100px">{{ dossier.dateDebutOperation|date('d-m-Y') }}</td> #}
          <td style="text-align:center">{{ dossier.dateCreation|date('d-m-Y') }}</td>
          {# <td style="text-align:center;width:100px">{{ dossier.dateDebutIntervention|date('d-m-Y') }}</td>
          <td style="text-align:center;width:100px">{{ dossier.dateFinIntervention|date('d-m-Y') }}</td>
          <td>{{ dossier.archive }}</td>
          <td>{{ dossier.newUniqid }}</td>
          <td>{{ dossier.createTime }}</td>
          <td>{{ dossier.updateTime }}</td> #}
          <td style="text-align:right">{{ dossier.montantPrincipal|number_format(1,',',' ') }}</td>
          <td style="text-align:right">{{ dossier.montantAmende|number_format(1,',',' ') }}</td>
          <td style="text-align:right">{{ dossier.montantTotal|number_format(1,',',' ') }}</td>
          <td>
            <a style="text-align:center" class="" href="{{ path('dossiers_show', { 'dossier': dossier.id }) }}"><i class="fas fa-eye"></i></a>												
          </td>
        </tr>
        {# {% set i=i+1 %}
        {% set newArray = newArray|merge([dossier]) %} #}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery.datetimepicker.setLocale('fr');
        jQuery('#date_timepicker_start').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
            })
            },
            timepicker:false
            });
            jQuery('#date_timepicker_end').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
            })
            },
            timepicker:false
        });
    </script>
    <script>
    	$('#nifFilter').autocomplete({
	        source: "{{ path('_autocomplete_nif4') }}",
	        minLength: 1,
	        select: function(event, ui) 
	        {   
            $('#rsFilter').val(ui.item.raisonSoncial);
            setTimeout(function(){
              $('#nifFilter').val(ui.item.thisNif);
	         	}, 100);
	        }
		    }).data("ui-autocomplete")._renderItem = function(ul, item) 
		    {
		        return $( "<li class='ui-autocomplete-row'></li>" )
		            .data("item.autocomplete", item)
		            .append(item.useIt)
		            .appendTo(ul);
	    	};
		$('#rsFilter').autocomplete({
	        source: "{{ path('_autocomplete_rs4') }}",
	        minLength: 1,
	        select: function(event, ui) 
	        {   
    				$('#nifFilter').val(ui.item.thisNif);
            setTimeout(function(){
              $('#rsFilter').val(ui.item.raisonSoncial);
	         	}, 100);
	        }
		    }).data("ui-autocomplete")._renderItem = function(ul, item) 
		    {
		        return $( "<li class='ui-autocomplete-row'></li>" )
		            .data("item.autocomplete", item)
		            .append(item.useIt)
		            .appendTo(ul);
	    	};
    </script>
{% endblock %}