{% extends "base.html.twig" %}

{% block title %}sqvf_dossiers{% endblock %}

{% block page_title %}
  <h1 class="mytitle">Suivi Qualitatif des Vérifications Fiscales (S.Q.V.F.)</h1>
{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
<div class="box box-primary">
    {# <div class="info-box-content">
        <span class="info-box-text">dossiers</span>
        <span class="info-box-number">{{ nbreContrib }}</span>
    </div> #}

  <div id="search">
    <form class="form-inline pull-left" method="GET">
      <div class="form-group">
          <input name="nif" type="text" class="form-control" id="nifFilter" autocomplete='off' {% if nifFilter %}value="{{ nifFilter }}"{% endif %} placeholder="NIF" style="width:110px;margin-left:0px;">
      </div>
      {# <div class="form-group">
          <input name="rs" type="text" class="form-control" id="rsFilter" autocomplete='off' {% if rsFilter %}value="{{ rsFilter }}"{% endif %} placeholder="Raison Sociale" style="width:450px;margin-left:0px;">
      </div> #}
      {# <div class="form-group">
          <select name="secteur" class="form-control">
              <option selected value="" disabled selected>{% if secteur %} {{secteur}} {% else %}Secteur d'activité{% endif %}</option>
              {% for sectorAct in sectorActs %}
                  <option value = {{ sectorAct.id}} > {{sectorAct.sectorActDesc}}</option>
              {% endfor %}
          </select>
      </div> #}
      {# <div class="form-group">
        <select name="gestionnaire" class="form-control" id="gestionnaire"> 
            <option selected value="" disabled selected >gestionnaire</option>
            {% for user in usersService %}
                <option value = {{ user.id }}>
                    <i>{{ user.corps }} -</i> 
                    <h6>{{ user.nom }}{{ user.prenom }}</h6>
                </option>
            {% endfor %}
        </select>
      </div> #}
      <button type="submit" class="btn btn-primary" style="width:120px;margin:0px;">Rechercher</button>
      <a href="{{ path('sqvfDossiersList') }}" class="button btn btn-primary" style="width:120px;margin:0px;">Réinitialiser</a>
      <a href="{{path('sqvfDossiersExcel')}}" class="btn btn-primary" role="button" style="width:120px;margin-right:4px;">Exporter</a>
      {# <a href="{{path('createpdf')}}" class="btn btn-primary pull-right" role="button" style="width:120px;margin-left:4px;">Imprimer</a> #}
    </form>
  </div>
  <div class="col-lg-12">
    <div class="navigation">
      {{ knp_pagination_render(dossiers) }}
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="form-entete">Uniqid</th>	
        {# <th class="form-entete">Id. dossier</th>
        <th class="form-entete">Id. User</th>
        <th class="form-entete">Id. type notification</th>
        <th class="form-entete">Id. notification redressement</th>
        <th class="form-entete">Id. notification définitive</th> #}
        <th class="form-entete" style="width:120px;text-align:center">NIF</th>	
        <th class="form-entete">Raison sociale</th>	
        <th class="form-entete">Centre Fiscal</th>
        <th class="form-entete" style="text-align:center">Type contrôle</th>
        {# <th class="form-entete">Date début opération</th> #}
        <th class="form-entete">Etape courante</th>
        <th class="form-entete">Date création</th>
        {# <th class="form-entete">Date début intervention</th>
        <th class="form-entete">Date fin intervention</th> #}
        {# <th class="form-entete">Archive</th>	
        <th class="form-entete">New uniqid</th>	
        <th class="form-entete">Create_time</th>
        <th class="form-entete">update_time</th> #}
        <th class="form-entete">Montant principal</th>
        <th class="form-entete">Montant amende</th>
        <th class="form-entete">Montant total</th>
        {# <th class="form-entete">Details</th> #}
      </tr>
    </thead>
    <tbody>
      {% for dossier in dossiers %}																								
        <tr>
          <td>{{ dossier.uniqid }}</td>
          {# <td style="width:100px;text-align:center">{{ dossier.idDossier }}</td>
          <td style="width:100px;text-align:center">{{ dossier.idUser }}</td>
          <td style="width:100px;text-align:center">{{ dossier.idTypeNotification }}</td>
          <td style="width:100px;text-align:center">{{ dossier.idNotificationRedressement }}</td>
          <td style="width:100px;text-align:center">{{ dossier.idNotificationDefinitive }}</td> #}
          <td style="width:120px;text-align:right">{{ dossier.nif|number_format(0,',',' ') }}</td>
          <td>{{ dossier.rs }}</td>
          <td style="width:100px;text-align:center">{{ dossier.CentreFiscal }}</td>
          <td style="text-align:center">{{ dossier.typeControle }}</td>
          {# <td style="text-align:center">{{ dossier.dateDebutOperation|date('d-m-Y') }}</td> #}
          <td>{{ dossier.etapeCourante }}</td>
          <td style="text-align:center">{{ dossier.dateCreation|date('d-m-Y') }}</td>
          {# <td style="text-align:center">{{ dossier.dateDebutIntervention|date('d-m-Y') }}</td>
          <td style="text-align:center">{{ dossier.dateFinIntervention|date('d-m-Y') }}</td> #}
          {# <td>{{ dossier.archive }}</td>
          <td>{{ dossier.newUniqid }}</td>
          <td style="text-align:center">{{ dossier.createTime|date('d-m-Y') }}</td>
          <td style="text-align:center">{{ dossier.updateTime|date('d-m-Y') }}</td> #}
          <td style="width:120px;text-align:right">{{ dossier.montantPrincipal|number_format(0,',',' ') }}</td>
          <td style="width:120px;text-align:right">{{ dossier.montantAmende|number_format(0,',',' ') }}</td>
          <td style="width:120px;text-align:right">{{ dossier.montantTotal|number_format(0,',',' ') }}</td>
          {# <td>
            <a style="text-align:center" class="" href="{{ path('dossiers_show', { 'dossier': dossier.id }) }}"><i class="fas fa-eye"></i></a>												
          </td> #}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery.datetimepicker.setLocale('fr');
        jQuery('#date_timepicker_start').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
            })
            },
            timepicker:false
            });
            jQuery('#date_timepicker_end').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
            })
            },
            timepicker:false
        });
    </script>
    <script>
    	$('#nifFilter').autocomplete({
	        source: "{{ path('_autocomplete_nif2') }}",
	        minLength: 1,
	        select: function(event, ui) 
	        {   
            $('#rsFilter').val(ui.item.raisonSoncial);
            setTimeout(function(){
              $('#nifFilter').val(ui.item.thisNif);
	         	}, 100);
	        }
		    }).data("ui-autocomplete")._renderItem = function(ul, item) 
		    {
		        return $( "<li class='ui-autocomplete-row'></li>" )
		            .data("item.autocomplete", item)
		            .append(item.useIt)
		            .appendTo(ul);
	    	};
		$('#rsFilter').autocomplete({
	        source: "{{ path('_autocomplete_rs2') }}",
	        minLength: 1,
	        select: function(event, ui) 
	        {   
	            
				$('#nifFilter').val(ui.item.thisNif);
	            setTimeout(function(){
	             $('#rsFilter').val(ui.item.raisonSoncial);
	         	}, 100);
	        }
		    }).data("ui-autocomplete")._renderItem = function(ul, item) 
		    {
		        return $( "<li class='ui-autocomplete-row'></li>" )
		            .data("item.autocomplete", item)
		            .append(item.useIt)
		            .appendTo(ul);
	    	};
    </script>
{% endblock %}