{% extends "base.html.twig" %}
{% block title %}Courriers entrants{% endblock %}

{% block page_title %}
<h1 class="mytitle" style="text-align:center;background-color:#0085a6;color:white;font-size:20px;padding:5px;">Courriers sortants</h1>
{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}

<div id="nav-menu">
	{% if isChefSAI or isChefDeDirection or isSystemUser %}
		<div >
			<a href="{{ path('list_entrant_all') }}" class="">*** Courriers DGE</a>
		</div >
		<div >
			<a href="{{ path('list_entrant_dispatch',{'page':courriers.getCurrentPageNumber}) }}" class="" >** Dispatcher</a>
		</div >
	{% endif %}
	{% if isChefDeDirection or isChefSAI or isChefDeService %}
			<div >
				<a href="{{ path('list_entrant_sce') }}" class="">* Courriers Sce</a>
			</div >
	{% else %}
			<div >
				<a href="{{ path('list_entrant_assigne_all') }}" class="">Tous les courriers</a>
			</div >
	{% endif %}
	{% if isChefDeDirection or isChefSAI or isChefDeService %}
		<div >
			<a href="{{ path('list_entrant') }}" class="" >Courriers à assigner</a>
		</div >
	{% else %}
		<div >
			<a href="{{ path('list_entrant_assigne') }}" class="" >Courriers à traiter</a>
		</div >
	{% endif %}
{# {{ nb_ce_sai }} #}
	<div>
		{% if imprimer == "listDispatchAction" %}
			<a href="{{path('list_entrant_dispatch_pdf',{'page':courriers.getCurrentPageNumber})}}" class="" role="button" >Imprimer</a>
		{% elseif imprimer == "listAllAction" %}
			<a href="{{path('list_entrant_all_pdf',{'page':courriers.getCurrentPageNumber})}}" class="" role="button" >Imprimer</a>
		{% else %}
			<a href="{{path('list_entrant_pdf',{'page':courriers.getCurrentPageNumber})}}" class="" role="button" >Imprimer</a>
		{% endif %}
	</div >
	<div>
			<a href="{{path('entrantExcel')}}" class="" role="button" style="width:120px;margin-right:4px;">Exporter</a>
	</div >
	<div>
		<a href="#" class="" id="search-go" >Rechercher</a>
	</div >
</div>

	<div class="box box-primary" style="overflow-x:auto;min-height:1000px;">
		<div class="row">
			<div class="col-lg-12">
				<div id="search">
					<form class="form-inline pull-left" method="GET">
						<div class="form-group">
							<input name="nif" type="text" class="form-control" id="nifFilter" autocomplete='off' {% if nifFilter %}value="{{ nifFilter }}"{% endif %} placeholder="NIF" style="width:110px;margin-left:0px;">
						</div>
						<div class="form-group">
							<input name="rs" type="text" class="form-control" id="rsFilter" autocomplete='off' {% if rsFilter %}value="{{ rsFilter }}"{% endif %} placeholder="Raison Sociale" style="width:250px;margin-left:0px;">
						</div>
						<div class="form-group">
							<input name="date_du" type="text" class="form-control" id="date_timepicker_start" autocomplete='off' {% if date_du %}value="{{ date_du }}"{% endif %} placeholder="Date du" style="width:120px;margin:0px;">
						</div>
						<div class="form-group">
							<input name="date_au" type="text" class="form-control" id="date_timepicker_end" autocomplete='off' {% if date_au %}value="{{ date_au }}"{% endif %} placeholder="Date au" style="width:120px;margin:0px;">
						</div>
						<div class="form-group">
							<select name="status" class="form-control">
								<option value="" disabled selected>Etat</option>
								<option>Nouveau</option>
								<option>Transmis</option>
								<option>Assigné</option>
								<option>Traité</option>
								<option>Non Traité</option>
								<option>Clôturé</option>
							</select>
						</div>
						{# {% if isChefDeService %}
							<div class="form-group">
								<select name="gestionnaire" class="form-control" id="Gestionnaire" style="width:300px;margin:0px;"> 
									<option value="" disabled selected>Gestionnaire</option>
									{% for user in usersService %}
										<option value = {{ user.id }}>
											<i>{{ user.corps }} -</i> 
											<h6>{{ user.nom }} {{ user.prenom }}</h6>
										</option>
									{% endfor %}
								</select>
							</div>
						{% endif %} #}
						<button type="submit" class="btn-link"><span class="fa fa-search" style="font-size:28px" title="Rechercher"></span></button>						
						{% if nifFilter != "" or date_du != "" or rsFilter != "" %}
							{% if listAssigne %}
								<a class="btn btn-primary" href="{{path('list_entrant_dispatch')}}" class="btn-link"><span class="fa fa-trash-o" style="font-size:28px;color:black" title="initialiser filtres"></a>
							{% else %}
								<a class="btn btn-primary" href="{{path('list_entrant')}}" class="btn-link"><span class="fa fa-trash-o" style="font-size:28px;color:black" title="initialiser filtres"></a>
							{% endif %}
						{% endif %}
						{# <a>  </a>
						<a href="{{path('list_entrant_excel')}}" class="btn-link"><span class="fa fa-file-excel" style="font-size:28px;color:green" title="Exporter vers EXCEL"></span></a> #}
					</form>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="navigation">
					{{ knp_pagination_render(courriers) }}
					{# $page = pageEnCours() #}
				</div>
			</div>
		</div>

     	<table class="table table-striped table-hover">

				<thead>
					<tr>
						<th style="background-color:grey;color:white;text-align:center;font-size:14px">N°</th>	
						<th style ="min-width: 120px;background-color:grey;color:white;text-align:center;font-size:14px">N.I.F</th>
						<th style="background-color:grey;color:white;text-align:center;font-size:14px">Raison sociale</th>
						<th style="background-color:grey;color:white;text-align:center;font-size:14px">Objet</th>
						<th style="background-color:grey;color:white;text-align:center;font-size:14px">Commentaires</th>
						<th style="background-color:grey;color:white;text-align:center;font-size:14px">reçu le</th>
						<th style="min-width:100px;background-color:grey;color:white;text-align:center;font-size:14px">Dern. mvt</th>
						{% if isChefSAI or isChefDeDirection %} 
							<th style ="min-width: 140px;background-color:grey;color:white;text-align:left;font-size:14px">Dispatching</th>
						{% endif %}
						<th style ="min-width: 150px;background-color:grey;color:white;text-align:left;font-size:14px">Dispatché à</th>
						<th style ="min-width: 140px;background-color:grey;color:white;text-align:left;font-size:14px">Assigné à</th>
						<th style="background-color:grey;color:white;text-align:center;font-size:14px">Actions</th>
						<th style="background-color:grey;color:white;text-align:center;font-size:14px">Details</th>
					</tr>
				</thead>

				<tbody>
					{% set i=0 %}
					{% set newArray = [] %}
					{% if listAssigne and not isInspecteur %}
						{% for courrier in courriers %}																								
							<tr>
									<td>{{ courrier.numeroCourrier }}</td>
									<td>{{ courrier.nif|number_format(0,',',' ') }}</td>
									<td>{{ courrier.raisonSocial }}</td>
									<td>{{ courrier.objet }}</td>
									<td>{{ courrier.commentaires }}</td>
									<td style="text-align:center">{{ courrier.createdAt | date('d/m/Y')}}</td>
									<td style="text-align:center">
										{% if courrier.delegationDate %}
											{{ courrier.delegationDate | date('d/m/Y H:i:s')}}
										{% else %}
											-
										{% endif %}
									</td>
									<td>
										{% if courrier.services %}
											{% if courrier.services %}
												{% for courrierService in courrier.services %}
													<span class="badge bg-yellow">{{ courrierService.nom }}</span>
												{% endfor %}
											{% endif %}
										{% else %}
										-
										{% endif %}
									</td>
									<td>
										{% if courrier.gestionnaires %}
											{% for gestionnaire in courrier.gestionnaires %}													
												<span class="badge bg-green">{{ gestionnaire.nom }}</span>
											{% endfor %}
										{% else %}
											-
										{% endif %}
									</td>
									{# <td>
												{{ courrier.attribution }}
									</td>
									<td>
											<span class="badge {% if courrier.priority == 'Normal' %}bg-blue{% endif %}
												{% if courrier.priority == 'Urgent' %}bg-yellow{% endif %}
												{% if courrier.priority == 'Très Urgent' %}bg-red{% endif %}
												text-center">{{ courrier.priority }}
											</span>									
									</td> #}
									<td>
										<div class="btn-group" style="display: flex;">
											<button class="btn  {% if courrier.status == 'Nouveau' %}btn-info{% endif %} 
																{% if courrier.status == 'Transmis' %}btn-primary{% endif %}
																{% if courrier.status == 'Assigné' %}btn-warning{% endif %}
																{% if courrier.status == 'Traité' %}btn-success{% endif %}
																{% if courrier.status == 'Non Traité' %}btn-info{% endif %}
																{% if courrier.status == 'Clôturé' %}btn-danger{% endif %}"
																style="width:90px" type="button">{{ courrier.status }}
											</button>
											<div class="btn-group" >
												<button type="button" class="btn btn-primary {% if courrier.status == 'Nouveau' %}btn-info{% endif %}
													{% if courrier.status == 'Transmis' %}btn-primary{% endif %}
													{% if courrier.status == 'Assigné' %}btn-warning{% endif %}
													{% if courrier.status == 'Traité' %}btn-success{% endif %}
													{% if courrier.status == 'Non Traité' %}btn-info{% endif %}
													{% if courrier.status == 'Clôturé' %}btn-danger{% endif %}
													dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
													<span class="caret"></span>
												</button>

												{% if courrier.status != 'Clôturé' %}
													<ul class="dropdown-menu">
														{% if courrier.status != 'Traité' and courrier.status != 'Non Traité' %}
															<li><a style="width:120px" href="{{ path('show_entrant', { 'courrier': courrier.courrierId, changestatus: 'Traité' }) }}">Traité</a></li>
															{# <li><a style="width:120px" href="{{ path('show_entrant', { 'courrier': courrier.courrierId, changestatus: 'Non Traité' }) }}">Non Traité</a></li> #}
															<li><a data-id="btn-non-traite{{courrier.courrierId}}" class="btn-nonT" style="width:120px" >Non Traité</a></li>
																<div class="obsobs" id="btn-non-traite{{courrier.courrierId}}">
																	<form action="{{ path('addobs_nontraite') }}" method="POST">
																		<input type="hidden" name="gestionnaire" value=""/>
																		<input type="hidden" name="idcourrier" value="{{courrier.courrierId}}"
																			<li><textarea cols="50" rows="5" id="observation-{{userId}}"  name="obsNonTraite" class="Attribution-s{{userId}}-{{courrier.numeroCourrier}}"></textarea></li>
																		<input class="btn-ok" style="width:120px;height:40px;background-color:rgb(100, 152, 219);color:white;font-size:18px" type="submit" value="Valider"/>
																	</form>
																</div>
														{% endif %}
													</ul>
												{% endif %}

											</div>
										</div>
									</td>
									<td>
										<a class="" href="{{ path('show_entrant', { 'courrier': courrier.courrierId }) }}"><i class="fas fa-eye"></i></a>												
									</td>
							</tr>						
						{% endfor %}

					{% else %}

						{% for courrier in courriers %}						
							{% if courrier not in newArray %}
								<tr>
									<td>{{ courrier.numeroCourrier }}</td>
									<td>{{ courrier.nif|number_format(0,',',' ') }}</td>
									<td>{{ courrier.raisonSocial }}</td>
									<td>{{ courrier.objet }}</td>
									<td>{{ courrier.commentaires }}</td>
									<td style="text-align:center">{{ courrier.createdAt | date('d/m/Y')}}</td>
									<td style="text-align:center">
										{% if courrier.delegationDate %}
											{{ courrier.delegationDate | date('d/m/Y H:i:s')}}
										{% else %}
											-
										{% endif %}
									</td>
									{% if courrier.status != 'Clôturé' %}
										{% if isChefSAI or isChefDeDirection or isSystemUser %}
											<td>
												<div class= "btn-group">
														<button class="btn bg-aqua" type="button">Dispatch</button>
														<button type="button" class="btn bg-aqua dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu" style="padding: 5px;">
														<form method="POST" action="{{ path('show_entrant', { courrier: courrier.courrierId })}}">												
															<label style="color: #000; width: max-content;">
																<input type="checkbox" class="" name="dispatch[Direction]" value="Direction"> Direction</label><br>
															<label style="color: #000; width: max-content;">
																<input type="checkbox" class="" name="dispatch[Service Gestion]" value="Service Gestion"> Service Gestion</label>
															<label style="color: #000; width: max-content;">
																<input type="checkbox" class="" name="dispatch[Service Recouvrement]" value="Service Recouvrement"> Service Recouvrement</label>
															<label style="color: #000; width: max-content;">
																<input type="checkbox" class="" name="dispatch[Service Contrôle]" value="Service Contrôle"> Service Contrôle</label>
															<label style="color: #000; width: max-content;">
																<input type="checkbox" class="" name="dispatch[Service Accueil et Information]" value="Service Accueil et Information"> Service Accueil et Information</label>																										
															<input type="submit" value="Dispatcher" class="btn btn-primary pull-left" style="width:120px;margin-left:4px;">
														</form>
														</ul>
												</div>
											</td>
											{% if courrier.status == 'Nouveau' %}
												{# <td></td>
												<td></td> #}
												<td></td>
												<td></td>
											{% endif %}
										{% endif %}
									{% endif %}
									{% if courrier.status == 'Clôturé' or courrier.status == 'Assigné' or courrier.status == 'Traité' or courrier.status == 'Non Traité' %}
										{% if courrier.status == 'Clôturé' %}
											{% if isChefSAI or isChefDeDirection or isSystemUser %}
												<td>-</td>
											{% endif %}
											{% if courrier.services %}
												<td>{% if courrier.services %}
													{% for courrierService in courrier.services %}
														<span class="badge bg-yellow">{{ courrierService.nom }}</span>
													{% endfor %}
												{% endif %}</td>
											{% else %}
											-
											{% endif %}
											
											<td>
												{% if courrier.gestionnaires %}
													{% for gestionnaire in courrier.gestionnaires %}													
														<span class="badge bg-green">{{ gestionnaire.nom }}</span>
													{% endfor %}
												{% else %}
												-
												{% endif %}
											</td>
											{# <td>
												{% if courrier.attribution %}
													<span class="badge bg-light">{{ courrier.attribution }}</span>
												{% else %}
												-
												{% endif %}
											</td>
											<td>
												{% if courrier.priority %}											
													<span class="badge {% if courrier.priority == 'Normal' %}bg-blue{% endif %} {% if courrier.priority == 'Urgent' %}bg-yellow{% endif %} {% if courrier.priority == 'Très Urgent' %}bg-red{% endif %} text-center">{{ courrier.priority }}</span>
												{% else %}
												-
												{% endif %}
											</td> #}
										{% endif %}
										{% if courrier.status == 'Traité' or courrier.status == 'Non Traité' %}
											{% if isChefDeService or isInspecteur or isSystemUser %}
												{# {% if nomBynumCourier[i] is defined %}
													<td>{{ nomBynumCourier[i] }}</td>
												{% else %}
													<td></td>
												{% endif %} #}
												<td>
													{% if courrier.services %}
														{% for courrierService in courrier.services %}
															<span class="badge bg-yellow">{{ courrierService.nom }}</span>
														{% endfor %}
													{% else %}
													-
													{% endif %}
												</td>
												<td>
													{# {% if attributionList[i] is defined %}
														{{ attributionList[i] }}
													{% else %}
													-
													{% endif %} #}
													{% if courrier.gestionnaires %}
														{% for gestionnaire in courrier.gestionnaires %}													
															<span class="badge bg-green">{{ gestionnaire.nom }}</span>
														{% endfor %}
													{% else %}
														-
													{% endif %}
												</td>								
											{% else %}
											-
											{% endif %}
											
										{% endif %}
									{% endif %}
									{% if courrier.status == 'Transmis' %}									
										{% if isChefDeService or isSystemUser or isInspecteur %}									
											<td>
												{% if courrier.services %}
													{% for courrierService in courrier.services %}
														<span class="badge bg-yellow">{{ courrierService.nom }}</span>
													{% endfor %}
												{% endif %}
											</td> 	
											<td>
												<form action="{{ path('show_entrant', {courrier: courrier.courrierId }) }}" method="POST">
													<div>
														{% if courrier.gestionnaires %}
															{% for gestionnaire in courrier.gestionnaires %}
																<span class="badge bg-green">{{ gestionnaire.nom }}</span>
															{% endfor %}
														{% endif %}
														<div class="dropdown-content">
															<span data-id="{{ courrier.numeroCourrier }}" style="height:37px;width:120px;background-color:blue;padding:7px" class="open-button show-dropdown btn btn-info">Assignation</span>
															<ul class="dropdown-list-assign" id="dropdown-list-{{ courrier.numeroCourrier }}">
															{% for user in usersService %}
																<label style="color: #fff; width: max-content;">
																	<input type="checkbox" id="checkGestion-{{user.id}}" data-s="Attribution-s{{user.id}}-{{courrier.numeroCourrier}}" class="checkGestion" name="gestionnaire[{{ user.id }}]" value="{{ user.id }}"> {{ user.nom }} {{ user.prenom }}
																</label>													
																<select name="attibutionMulti[{{ user.id }}]" class="form-control select-attr Attribution-s{{user.id}}-{{courrier.numeroCourrier}}" id="Attribution-s{{user.id}}-{{courrier.numeroCourrier}}">
																	{% for attribution in attributions %}
																		<option value="{{ attribution.attributionDesc }}">{{ attribution.attributionDesc }}</option>
																	{% endfor %}
																</select>
																<textarea id="observation-{{user.id}}" name="observation[{{ user.id }}]" 
																	class="select-attr Attribution-s{{user.id}}-{{courrier.numeroCourrier}}" 
																	rows="2" cols="auto" style="display: inline-block;color: black;background-color: antiquewhite;width:420px">Observations ...
																</textarea>													
																<br>
															{% endfor %}
															</ul>
														</div>
													</div>
												</td>
												{# <td> #}
													{# <div>											
														<select name="attribution" class="form-control" id="Attribution">
															<option selected>Attribution</option>
															{% for attribution in attributions %}
																<option>{{ attribution.attributionDesc }}</option>
															{% endfor %}
														</select>
													</div> #}
													{# - ! - #}
													{# {% if attributionList[i] is defined %}
														{{ attributionList[i] }}
													{% else %}
													-
													{% endif %}
												</td> #}
												{# <td>
													<div>											
														<select name="priority" class="form-control" id="Attribution">
															<option selected>Normal</option>
															<option>Urgent</option>
															<option>Très Urgent</option>
														</select>
													</div>
												</td> #}
											{% else %}
												{% if not isChefDeService and not isSystemUser %}
												<td>{% if courrier.services %}
															{% for courrierService in courrier.services %}
																<span class="badge bg-yellow">{{ courrierService.nom }}</span>
															{% endfor %}
														{% endif %}</td> </td>
												{# <td></td>
												<td></td> #}
												<td></td>
												{% endif %}	
											{% endif %}
										{% endif %}
										{% if courrier.status == 'Assigne' %}
											<td>{% if courrier.services %}
													{% for courrierService in courrier.services %}
														<span class="badge bg-yellow">{{ courrierService.nom }}</span>
													{% endfor %}
												{% endif %}</td> 	
											<td>
												{% if courrier.gestionnaires %}
													{% for gestionnaire in courrier.gestionnaires %}
														<span class="badge bg-green">{{ gestionnaire.nom }}</span>
													{% endfor %}
												{% else %}
												-
												{% endif %}
											</td>
											{# <td> {{courrier.attribution}}</td> #}
											<td> - </td>
											<td>
												<span class="badge {% if courrier.priority == 'Normal' %}bg-blue{% endif %}
													{% if courrier.priority == 'Urgent' %}bg-yellow{% endif %}
													{% if courrier.priority == 'Très Urgent' %}bg-red{% endif %}
													text-center">{{ courrier.priority }}
												</span>
											</td>
										{% endif %}									
											<td>
												<div class="btn-group" style="display: flex;">
													<button class="btn  {% if courrier.status == 'Nouveau' %}btn-info{% endif %} 
																		{% if courrier.status == 'Transmis' %}btn-primary{% endif %}
																		{% if courrier.status == 'Assigné' %}btn-warning{% endif %}
																		{% if courrier.status == 'Traité' %}btn-success{% endif %}
																		{% if courrier.status == 'Non Traité' %}btn-info{% endif %}
																		{% if courrier.status == 'Clôturé' %}btn-danger{% endif %}"
																		style="width:90px" type="button">{{ courrier.status }}
													</button> 
													<div class="btn-group" >
														<button type="button" class="btn btn-primary {% if courrier.status == 'Nouveau' %}btn-info{% endif %}
															{% if courrier.status == 'Transmis' %}btn-primary{% endif %}
															{% if courrier.status == 'Assigné' %}btn-warning{% endif %}
															{% if courrier.status == 'Traité' %}btn-success{% endif %}
															{% if courrier.status == 'Non Traité' %}btn-info{% endif %}
															{% if courrier.status == 'Clôturé' %}btn-danger{% endif %}
															dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
															<span class="caret"></span>
														</button>
														{% if courrier.status != 'Clôturé' %}
															<ul class="dropdown-menu">
																{# {% if courrier.status != 'Traité' %}																	
																	{% if not isChefSAI %}
																		<li><a style="width:120px" href="{{ path('show_entrant', { courrier: courrier.courrierId, changestatus: 'Traité' }) }}">Traité</a></li>
																	{% endif %}
																{% endif %} #}
																{% if isChefDeService or isChefSAI or isChefDeDirection or isInspecteur %}
																	{% if courrier.status == 'Traité' or courrier.status == 'Assigné' %}
																		
																	{% else %}
																		{# <li><a href="{{ path('show_entrant', { courrier: courrier.courrierId, changestatus: 'Traité' }) }}">Traité</a></li> #}
																		<li><button type="submit" class="btn btn-primary">Assigner</button></li>
																	{% endif %}
																	{% if isChefDeService or isChefSAI or isChefDeDirection %}
																		<li><a href="{{ path('show_entrant', { courrier: courrier.courrierId, changestatus: 'Clôturé' }) }}">Clôturer</a></li>
																	{% endif %}
																{% endif %}
															</ul>
														{% endif %}
													</div>
												</div>
											</td>
											<td>
												<a class="" href="{{ path('show_entrant', { 'courrier': courrier.courrierId }) }}"><i class="fas fa-eye"></i></a>												
											</td>
										</form>
									</tr>
								{% set i=i+1 %}
								{% set newArray = newArray|merge([courrier]) %}
							{% endif %}
						{% endfor %}
					{% endif %}
			</tbody>
	    </table>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery.datetimepicker.setLocale('fr');
        jQuery('#date_timepicker_start').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
            })
            },
            timepicker:false
            });
            jQuery('#date_timepicker_end').datetimepicker({
            format:'Y/m/d',
            onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
            })
            },
            timepicker:false
        });
    </script>
    <script>
    	$('#nifFilter').autocomplete({
	        source: "{{ path('_autocomplete_nif2') }}",
	        minLength: 1,
	        select: function(event, ui) 
	        {   
	            $('#rsFilter').val(ui.item.raisonSoncial);
	            setTimeout(function(){
	             $('#nifFilter').val(ui.item.thisNif);
	         	}, 100);
	        }
		    }).data("ui-autocomplete")._renderItem = function(ul, item) 
		    {
		        return $( "<li class='ui-autocomplete-row'></li>" )
		            .data("item.autocomplete", item)
		            .append(item.useIt)
		            .appendTo(ul);
	    	};
		$('#rsFilter').autocomplete({
	        source: "{{ path('_autocomplete_rs2') }}",
	        minLength: 1,
	        select: function(event, ui) 
	        {   
	            
				$('#nifFilter').val(ui.item.thisNif);
	            setTimeout(function(){
	             $('#rsFilter').val(ui.item.raisonSoncial);
	         	}, 100);
	        }
		    }).data("ui-autocomplete")._renderItem = function(ul, item) 
		    {
		        return $( "<li class='ui-autocomplete-row'></li>" )
		            .data("item.autocomplete", item)
		            .append(item.useIt)
		            .appendTo(ul);
	    	};
    </script>
    <script>
	    function getContribuable(nif) {
            $.ajax({
                url: "{{ path('_get_contribuable') }}" + '?nif='+nif, 
                type: "GET",             
                contentType: false,       
                cache: false,            
                processData:false,       
                success: function(data)  
                {                
                    $('#infobox').html(data);
                }
            });
        }
        $('#dbundle_courierentrant_nif').devbridgeAutocomplete({
            serviceUrl: "{{ path('_autocomplete_nif') }}",
            minChars : 2,
            onSelect: function (suggestion) {
                console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
                $('#dbundle_courierentrant_rs').val(suggestion.data);
                getContribuable(suggestion.value);
            }
        });
        $('#dbundle_courierentrant_rs').devbridgeAutocomplete({
            serviceUrl: "{{ path('_autocomplete_rs') }}",
            minChars : 2,
            onSelect: function (suggestion) {
                console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
                $('#dbundle_courierentrant_nif').val(suggestion.data);
                getContribuable(suggestion.data);
            }
        });
    </script>
	<script>
		$(".obsobs").hide();
		var openDropdown = $(".show-dropdown");
		var openDropdown2 = $(".show-dropdown2");
		
		
		var showList = false;
		var showList2 = false;
		openDropdown.each(function(){
			var assignId = $(this).attr("data-id");
			$(this).on('click',function(){
				showList = !showList;
				if (showList) {
				$("#dropdown-list-"+assignId).show();
				}else{
					$("#dropdown-list-"+assignId).hide();
				}
			})
		})		
		openDropdown2.each(function(){
			var assignId2 = $(this).attr("data-id2");
			$(this).on('click',function(e){
				{# e.preventDefault();
				console.log("rtrtrt"); #}
				showList2 = !showList2;
				if (showList2) {
				$("#dropdown-list2-"+assignId2).show();
				}else{
					$("#dropdown-list2-"+assignId2).hide();
				}
			})
		})	
			showList3 = false;
			{# var openDropdown2 = $(".show-dropdown2"); #}
		{# $("ul.dropdown-menu").each(function(){
			$(this).on('click',function(e){
				e.preventDefault();
				console.log("stop");
			})
		}); #}
		$(".btn-nonT").each(function(){
			var assignId2 = $(this).attr("data-id");
			$(this).on('click',function(e){
				{# e.preventDefault();
				console.log("uiui"); #}
				showList3 = !showList3;
				if (showList3) {
				$("#"+assignId2).show();
				}else{
					$("#"+assignId2).hide();
				}
				function bla(){
					console.log("grrrr");
					$("#caret-"+assignId2).trigger("click");
				}
				const myTimeout = setTimeout(bla, 2000);
				
			})
		})
	</script>
	<script>
		$("#search").hide();
		$(".select-attr").hide();
		
		$("#search-go").click(function(){
			$("#search").toggle();
		})
		$(document).ready(function() {
			$(".checkGestion").each(function(){
				$(this).change(function(){
					var checked = $(this).is(":checked");
					var dataS = $(this).attr('data-s');
					if (checked) {
						$('.'+dataS).show();
					}else{
						$('.'+dataS).hide();
					}
				})
			})
		});
		
		//update link 
		var btnPrint = $("#btn-print").attr('href');
		var hrefPrintOk = btnPrint+window.location.search;
		$("#btn-print").attr('href',hrefPrintOk);
	</script>
{% endblock %}