{% extends "::base.html.twig" %}

{% block title %}Historique de paiement{% endblock %}

{% block page_title %}Historique de paiement{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
<div class="box box-primary padding">
    <div id="infos-contribuable">
        <p><span>Numéro d'Identification Fiscal (NIF):</span> {{ contribuable.nif }}</p>
        <p><span>Raison sociale:</span> {{ contribuable.rs }}</p>
        <p><span>Adresse:</span> {{ contribuable.adresse }}</p>
    </div>

    <div>
        <a href="{{ path('dfu_show', {'contribuable_nif': contribuable.nif}) }}" class="btn btn-primary">Historique carte fiscale</a>
        <a href="{{ path('dfu_taxation_office', {'contribuable_nif': contribuable.nif}) }}" class="btn btn-primary">Historique taxation d'office</a>
        <a href="{{ path('dfu_relance', {'contribuable_nif': contribuable.nif}) }}" class="btn btn-primary">Historique relances</a>
        <a href="{{ path('dfu_correspondance', {'contribuable_nif': contribuable.nif}) }}" class="btn btn-primary">Courriers entrant</a>
        <a href="{{ path('dfu_correspondance_sortant', {'contribuable_nif': contribuable.nif}) }}" class="btn btn-primary">Courriers sortant</a>
        <a href="{{ path('dfu_dialogue', {'contribuable_nif': contribuable.nif}) }}" class="btn btn-primary">Historique de dialogue</a>
        <a href="{{ path('dfu_historique_paiement', {'contribuable_nif': contribuable.nif}) }}" class="btn btn-primary">Historique de paiement</a>
    </div>
</div>

<div class="box box-primary">
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>NIF</th>
                <th>Raison sociale</th>
                <th>Montant</th>
                <th>Date paiement</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.nif }}</td>
                <td>{{ paiement.raisonSociale }}</td>
                <td>{{ paiement.montant }}Ar</td>
                <td>{{ paiement.dateDePaiement | date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if paiements.getTotalItemCount == 0 %}<p style="text-align: center; padding: 50px;">Vide</p>{% endif %}
<div class="navigation">
    {{ knp_pagination_render(paiements) }}
</div>
</div>
{% endblock %}