{% extends "base.html.twig" %}
{% block title %}Suivi dossiers physiques{% endblock %}

{% block page_title %}Suivi dossiers physiques{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}

    {{ parent() }}
    <div class="box box-primary">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>NIF</th>
                    <th>Agent</th>
                    <th>Date d'enlèvement</th>
                    <th>Date de remise</th>
                    <th>Observation</th>
                </tr>
            </thead>
            <tbody>
        {% for suiviDossier in suiviDossiers %}
            <tr>
                <td><a href="{{ path('suividossiers_show', { 'id': suiviDossier.id }) }}">{{ suiviDossier.id }}</a></td>
                <td>{{ suiviDossier.nif }}</td>
                <td>{% if suiviDossier.dateEnlevement %}{{ suiviDossier.dateEnlevement|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if suiviDossier.dateRemise %}{{ suiviDossier.dateRemise|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{{ suiviDossier.observation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('suividossiers_show', { 'id': suiviDossier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('suividossiers_edit', { 'id': suiviDossier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}