{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dges list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dge in dges %}
            <tr>
                <td><a href="{{ path('dge_show', { 'id': dge.id }) }}">{{ dge.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dge_show', { 'id': dge.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dge_edit', { 'id': dge.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dge_new') }}">Create a new dge</a>
        </li>
    </ul>
{% endblock %}
